---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";

const pricing = [
  {
    name: "Purchase",
  //  price: "$275.00 - $375.00",
    popular: false,
    features: [
      "i5 and i3 Processors in Stock",
      "8 - 16 G Memory",
      "Refurbished ",
      "Available",
      "Updates and Support Available Long Term",
    ],
    button: {
      text: "Learn More",
      link: "/",
    },
  },
  {
    name: "Rental",
   // price: " ",
    popular: true,
    features: [
      "1 to 10 Devices:   $25/day",
      "10 to 25 Devices:  $23/day",
      "25 to 50 Devices": $20/day",
      "50+ Devices":       "Contact Us",
    },
    ],
    button: {
      text: "Learn More",
      link: "#",
    },
  },
  {
    name: "Community Coaching Events",
  //  price: "Custom",
    popular: false,
    features: [
      "Technologies To Boost Your Business",
      "Held at the Venue of Your Choice",
      "20+ Years Experience",
    ],
    button: {
      text: "Contact us",
      link: "/contact",
    },
  },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Pricing</Fragment>
      <Fragment slot="desc">
        Simple & Predictable pricing. No Surprises.
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>
</Layout>
